@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5FC;
    font-family: "Inter", sans-serif;
    width: 100vw;
}

header {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.header-text {
    margin-right: 25%;
    font-weight: normal;
    color: #0A3871	;
}

#alura-logo {
    width: 90px;
    height: 36px;
}

main {
    display: flex;
    padding: 0 10%;
    min-height: 80vh;  
}



section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}

section textarea {
    background-color: #00000000;
    border: none;
    color: #0A3871;
    font-size: 32px;
    width: 80%;
    height: 420px;
    resize: none;
    margin-top: 60px; 
    font-family: "Inter", sans-serif;
}

section textarea::placeholder {
    color: #0A3871;
}

section textarea:focus {
    outline: none;
    border: none;
}

.text-info{
    display: flex;
    gap: 10px;
    color: #495057;
    margin-bottom: 8px;
}

.text-info img {
    height: 16px;
}

button {
    border-radius: 24px;
    padding: 25px;
    width: 328px;
    font-size: 16px;
    border: solid #0A3871 2px;
}

#buttons {
    display: flex;
    gap: 20px;
}

#btn-criptografar {
    background: #0A3871;
    color: white;
    transition: 0.15s;
}

#btn-criptografar:hover {
    background: #04254d;
}

#btn-criptografar:active  {
    background: white;
    color: #0A3871;
}

#btn-descriptografar {
    background: white;
    color: #0A3871;
    transition: 0.15s;
}

#btn-descriptografar:hover {
    background: #98c0f5;
    
}

#btn-descriptografar:active  {
    background: #0A3871;
    color: white;
}

aside {
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px #00000014;
}

#text-not-found {
    display: flex;
    height: 100%;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#response {
    display: none;
    height: 95%;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    text-align: center;

    & p {
        font-size: 24px;
    }
}


aside img {
    width: 336px;
}

aside h1 {
    color: #343A40;
    font-size: 24px;
}

aside p {
    color: #495057;
    font-size: 16px;

}

footer {
    text-align: center;
    padding: auto;
    margin-top: 40px;
    font-size: 14px;
}